module <%= class_name %>
  class Engine < ::Rails::Engine
    isolate_namespace <%= class_name %>

    # Wire this module's event subscriptions once the app has booted.
    config.after_initialize do
      <%= class_name %>::Events.subscribe!
    end

    config.generators do |g|
      g.test_framework :rspec
    end
  end
end
